<footer>
    <h2>&copy; 2023 Mindy Schwabenbauer Mariposa SEI </h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wines">Wines</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Wines/new">Add New Wine</a> </li>
        </ul>
    </nav>
</footer>