<!-- <footer>
    <h2>&copy; 2023 Mindy Schwabenbauer Mariposa SEI </h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wines">Wines</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Wines/new">Add New Wine</a> </li>
        </ul>
    </nav>
</footer> -->

<footer class="footer footer-center p-8 bg-base-200 text-base-content rounded">
    <div class="grid grid-flow-col gap-4">
        <a class="link link-hover" href="/">Home</a>
        <a class="link link-hover" href="/wines">Wines</a>
        <a class="link link-hover" href="/about">About</a>
        <a class="link link-hover" href="/Wines/new">Add New Wine</a>
    </div>
    <div>
        <div>
            <p>&copy; 2023 Mindy Schwabenbauer</p>
            <p>Mariposa SEI- Project 2</p>
        </div>
</footer>