<header>
    <h1>WINO
    </h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wines">Wines</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>