<!-- Photo by <a href="https://unsplash.com/@m4quuv?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Piotr
    Makowski</a> on <a 
    href="https://unsplash.com/s/photos/spilled-wine?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'WINO' }) %>
        <!-- <link rel="stylesheet" href="/styles/404.css"> -->
</head>

<body>
    <div class="glassy">
        <h1>Page Not Found</h1>
        <p>Sorry, we couldn't find the page you were looking for</p>
        <a href="/">Go to WINO Homepage</a>
    </div>
</body>

</html>