<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About WINO`}) %>
        <!-- <link rel="stylesheet" href="/styles/about.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <main>
            <section class="banner">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, quia obcaecati! Ut reiciendis
                    quo ex dolores commodi nesciunt sapiente quia quam perspiciatis! Quis aliquam officiis pariatur
                    nostrum dolores facilis error.</p>
            </section>

            <section class="content">
                <h2>Section 1</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ullam excepturi eaque, aperiam vel
                    aliquam quis odit. Facere impedit atque placeat possimus? Dignissimos quas doloribus magni quod.
                    Consequuntur, voluptate quis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum beatae ratione eaque laudantium
                    rerum saepe, corrupti obcaecati quam debitis unde officia. Accusantium adipisci, quibusdam
                    necessitatibus possimus minus deleniti? Non, repellat.</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ullam excepturi eaque, aperiam vel
                    aliquam quis odit. Facere impedit atque placeat possimus? Dignissimos quas doloribus magni quod.
                    Consequuntur, voluptate quis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum beatae ratione eaque laudantium
                    rerum saepe, corrupti obcaecati quam debitis unde officia. Accusantium adipisci, quibusdam
                    necessitatibus possimus minus deleniti? Non, repellat.</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ullam excepturi eaque, aperiam vel
                    aliquam quis odit. Facere impedit atque placeat possimus? Dignissimos quas doloribus magni quod.
                    Consequuntur, voluptate quis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum beatae ratione eaque laudantium
                    rerum saepe, corrupti obcaecati quam debitis unde officia. Accusantium adipisci, quibusdam
                    necessitatibus possimus minus deleniti? Non, repellat.</p>


                <h2>Section 2</h2>
                <ul>
                    <li>aethsrthdt</li>
                    <li>arthasrthdrtha
                    </li>
                    <li>Iarthatrhartwrtgf
                    </li>
                    <li>Waerlkhnflgmnkdlgnhklfg
                    </li>
                </ul>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>
</body>

</html>