@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wine Card */
.wine-image {
    max-width: 425px;
    max-height: 425px;
}

.wine-card {
    height: 700px;
}

/* Wine Details */
.wine-detail-img {
    max-width: 700px;
    max-height: 700px;
}